<div id="fullScreen">
  <form>
    <div class="custom-file mb-3">
      <input type="file"
            accept=".csv"
            (change)="handleFileSelect($event)"
            class="custom-file-input"
            id="validatedCustomFile" required/>
      <label class="custom-file-label"
            for="validatedCustomFile">Kies een bestand...</label>
    </div>
  </form>

  <div *ngIf="table && table.length">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Ordernummer</th>
          <th scope="col">Crediteur</th>
          <th scope="col">Besteld aantal</th>
          <th scope="col">Besteld KG</th>
          <th scope="col">Dock lang</th>
          <th scope="col">Referentie</th>
          <th scope="col">Ingebracht door</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cel of table" appChangeColor>
          <td>{{cel.OrderNummer}}</td>
          <td>{{cel.Crediteur}}</td>
          <td>{{cel.Besteld_aantal}}</td>
          <td>{{cel.Besteld_KG}}</td>
          <td>{{cel.Dock_Lang}}</td>
          <td>{{cel.Referentie}}</td>
          <td>{{cel.Ingebracht_door}}</td>
          <td>{{cel.Status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
